html, body, {
	min-height: 100dvh;
	margin: 0;
	padding: 0;
}

.container{
	min-height: 96dvh;
}

a {
    -webkit-user-drag: none;
}

.metadata {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

img {
    -webkit-user-drag: none;
}

.window-body {
}

.window {
	margin-bottom: 10px;
}

p {
    margin-block-end: 0em;
}

h1,h2,h3,h4,h5,h6 {
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.window-body pre {
    margin: 0px;
}

pre {
    white-space: pre-wrap;
}

#postcontainer {
	display: flex;
	flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.fix {
    position: fixed;
    text-align: center;
    width: 200px;
    background-color: var(--secondary);
}

.main {
    max-width: 40dvw;
    flex: 1;
}

.sidebar {
    width: 200px;    
    background-color: var(--secondary);
    padding: var(--padding);
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .main {
        max-width: 93dvw;
    }
}
