:root {
    --grey : #969896;
    --red : #cc6666;
    --green : #b5bd68;
    --yellow : #f0c674;
    --blue : #81a2be;
    --white : #f4f4f4;
    --purple : #c259cf;
    --black : #1d1f21;
}

::selection {
    background: var(--white);
    color: var(--black);
}

html, body {
    margin: 0;
    padding: 0;
    background: var(--black);
    color : var(--white);
    font-family: monospace;
    font-smooth: none;
    -webkit-font-smoothing : none;
    display: flex;
    width: 100dvw;
    justify-content: center;
}

#postcontainer {
    width: 40dvw;
}

.post {
    border: 1px solid var(--grey);
    padding: 10px;
    margin: 10px;
}

.post h2 {
    margin: 0 0 5px 0; 
    color: var(--green);
}

.date {
    color: var(--grey);
}

.tags {
    color: var(--red);
}

img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 800px) {
    #postcontainer {
        width: 100dvw;
    }
}

